#hero {
  padding-top: 289px;
  .camp {
    width: 100%;
    max-width: 934px;
    margin: 4em auto;
    img {
      width: 100%;
      height: auto;
      display: block;
      margin: 0;
    }
  }
}

#stars {
  display: block;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: -1;
}
