*,
*::before,
*::after {
  @include font-smoothing;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: $text-on-dark;
  font-family: "Circular Std", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 36px;
  background: $base;
}

h1,
h2,
h3,
h4 {
  font-family: inherit;
}

h3 {
  font-size: .833em;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 2em;
  &:after {
    content: "";
    @include sep;
    margin: 0 auto;
  }
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

path {
  fill: inherit;
  stroke: inherit;
}

section.align-center {
  text-align: center;
  padding: 0 20px;
  h4 {
    text-transform: uppercase;
    font-size: .833em;
    color: $color1;
    letter-spacing: 12px;
    text-indent: 12px;
    margin-bottom: .5em;
    span {
      display: block;
      font-size: .8em;
      letter-spacing: 33px;
      text-indent: 33px;
      color: $color2;
    }
  }

  h2 {
    font-size: 1.833em;
    font-weight: 800;
    margin-top: .25em;
  }

  p {
    width: 100%;
    max-width: 440px;
    margin: 0 auto 1.5em;
    &.highlight {
      color: $color1;
      font-weight: 600;
    }
  }

  hr {
    @include sep;
  }
  @media screen and (max-width: 768px) {
    br {
      display: none;
    }
  }
}

.btn-main {
  border: 2px solid $color3;
  color: $color3;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 800;
  padding: 25px 0;
  width: 100%;
  max-width: 340px;
  display: inline-block;
  margin: 1em 0;
  box-shadow: 0px 4px $color3;
}