@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin font-smoothing($type: antialiased) {
  -webkit-font-smoothing: $type;
  font-smoothing: $type;
}

@mixin display-flex {
  display: flex;
  display: -webkit-flex;
  -moz-display: flex;
}

@mixin flex($val) {
  flex: $val;
  -webkit-flex: $val;
  -moz-flex: $val;
}

@mixin flex-props($flow, $justify, $content, $items) {
  flex-flow: $flow;
  justify-content: $justify;
  align-content: $content;
  align-items: $items;

  -webkit-flex-flow: $flow;
  -webkit-justify-content: $justify;
  -webkit-align-content: $content;
  -webkit-align-items: $items;

  -moz-flex-flow: $flow;
  -moz-justify-content: $justify;
  -moz-align-content: $content;
  -moz-align-items: $items;
}

@mixin sep {
  width: 26px;
  border: none;
  display: block;
  height: 7px;
  background: url(../images/sep.png) no-repeat center top;
  background-size: 100% auto;
  margin-bottom: 14px;
}