$max-width: 1204px;
$medium-up: "(min-width: 850px)";
$large-up: "(min-width: 1234px)";
$xlarge-up: "(min-width: 1420px)";

$base: #0A1322;
$color1: #8B8AD0;         // lavender
$color2: #EFF09C;         // tea
$color3: #EF9597;         // pink

$text-on-dark: #EEFFFF;     // pseudo-white
$text-on-light: #091222;    // pseudo-black