//- Homepage
include ./components/_nav.pug
include ./components/_hero.pug
include ./components/_ethos.pug
include ./components/_warros.pug
include ./components/_join.pug
include ./components/_footer.pug
