mixin ethos
  section#ethos
    h3
      | Nuestro Ethos
    article
      header
        img(src='assets/images/logo-hor.png')
        span
          | Pampa Warro 2017 y más allá…
      p.big
        | Una vez más Fuego Austral nos convoca, la oportunidad autóctona para jugar y atreverse más esperada del año. Pero esta vez #[a(href='http://cocreacion.org') Cocreacion.org] tiene una propuesta distinta, por ahí demasiado ambiciosa, por sobre todo, única.
      p
        | Por eso llegamos sobre ruedas, porque además de ser una de las más grandes invenciones del hombre, define un ciclo, una nueva iteracion, y esperemos, que sea la primera de muchas otras.
      p
        | El Pampa Warro es nuestra creación, nuestro tributo y nuestro regalo, el cual no se trata simplemente de un vehículo, sino más bien de un estado mental. Un estado de alegría, festejo, y agradecimiento por tener la enorme oportunidad de estar vivos.
      p
        | Nuestra representacion es un vehículo, un sonido, una luz, un mensaje… tenemos muchas ganas que lo reciban!
      footer
        span.icon-logo