mixin ethos
  section#ethos
    h3
      | Nuestro Ethos
    article
      header
        img(src='/assets/images/logo-hor.png')
        span
          | Pampa Warro 2017 y más allá…
      p.big
        | Mayan Warrior is the result of a collaborative project that has united artists, craftsmen, photographers, designers, technologists, architects and musicians from Mexico City and Northern California.
      p
        | The project's original intent was to present to the world the incredible ascent of contemporary Mexican electronic music while paying respect to the deep and ancient sources from which that visual and auditory culture had grown. 

      p
        | Both light and sound are curated by some of the world's most prominent artists to transport participants to the very origins of the culture – and to a new understanding of contemporary electronic expression. #[br] "We're imagining each night as a journey through the artist selection, focusing on the whole experience rather than on single moments or highlights"

      p
        | Rebolledo &amp; Damián Romero - Music Concept and Line-up Curation

      p
        | AND YES: Mayan Warrior is driven from Mexico City to the playa – and back – each year. It's a labor of love and we're glad so many people enjoy it.
      footer
        span.icon-logo