mixin fotos
  section#experiencia.align-center
    h3 La experiencia
    div.wrapper
      div.h_iframe
        iframe(width="80%", src="https://www.youtube.com/embed/s45e58Nzn6U", frameborder="0", allowfullscreen="true")
    hr.sep
    div.slideshow
      div.image-container
        img(src='assets/images/fotos/a.jpg')
      div.image-container
        img(src='assets/images/fotos/b.jpg')
      div.image-container
        img(src='assets/images/fotos/c.jpg')
      div.image-container
        img(src='assets/images/fotos/d.jpg')
      div.image-container
        img(src='assets/images/fotos/e.jpg')
