mixin fotos
  section#experiencia.align-center
    h3 La experiencia
    hr.sep
    div.slideshow
      div.image-container
        img(src='assets/images/fotos/a.jpg')
      div.image-container
        img(src='assets/images/fotos/b.jpg')
      div.image-container
        img(src='assets/images/fotos/c.jpg')
      div.image-container
        img(src='assets/images/fotos/d.jpg')
      div.image-container
        img(src='assets/images/fotos/e.jpg')
