mixin hero
  section#hero.align-center
    canvas#stars

    p
      | Somos una comunidad comprometida con hacer una diferencia en entretenimiento. Empezamos con luces y sonidos, pero es más acerca de libertad, confianza, amor y nuestra contribución al mundo.
    p
      | Un grupo de diseñadores, ingenieros, djs, artistas, tecnólogos, pero más que nada, soñadores, que creen que disfrutar la vida es una experiencia compartida entre seres vivos y no vivos.
 
    a.btn-main(href='https://instagram.com/pampawarro' target='_blank')
      | Seguinos en Instagram

    div.camp
      img(src='assets/images/camp.png')
