mixin hero
  section#hero.align-center
    h2
      | Pampa Warro Camp @ FA2017
    hr.sep
    p
      | El Pampa Warro es un vehículo que propone vivir la experiencia de Fuego Austral al máximo.
 
    p
      | El motor son las personas que tiran y empujan para llevarlo a donde deseen vivir la experiencia. El campo, los sonidos y la noche, nuestro alimento.

    p.highlight
      | El PW se estrena el Viernes 24 de Febrero de 2017.

    a.btn-main(href='')
      | Próximamente

    div.camp
      img(src='assets/images/camp.png')