mixin join
  section#join.align-center
    h2
      | No hay pura luz
    hr.sep
    p
      | Y todo quedó atrás, noche y aurora, #[br]
      | el día suspendido como un puente entre sombras,#[br]
      | las ciudades, los puertos del amor y el rencor,#[br]
      | como si al almacén la guerra hubiera entrado#[br]
      | llevándose una a una todas las mercancías#[br]
      | hasta que a los vacíos anaqueles#[br]
      | llegue el viento a través de las puertas deshechas#[br]
      | y haga bailar los ojos del olvido.