mixin nav
  nav#navigation
    ul.inner
      li
        a.btt(href='') Home
      li
        a(href='') Ethos
      li
        a(href='') La Experiencia
      li
        a(href='') Los Mixes
      li
        a(href='') El Equipo
    ul.social
      li
        a.icon-facebook(href='') Facebook
      li
        a.icon-twitter(href='') Twitter
      li
        a.icon-instagram(href='') Instagram
    div#graph
      h1
        a.logo(href='') Pampa Warro
      div.viz