mixin nav
  nav#navigation
    div#graph
      h1
        a.icon-logo(href='') #[span Pampa Warro]
      div.viz
    ul.inner
      li
        a.icon-home(href='')
      li
        a(href='') Ethos
      li
        a(href='') Unitenos
    ul.social
      li
        a.icon-facebook(href='')
      li
        a.icon-twitter(href='')
      li
        a.icon-instagram(href='')