mixin nav
  nav#navigation
    div#graph
      h1
        a.icon-logo(href='') #[span Pampa Warro]
      div.viz
    ul.inner
      li
        a.icon(href='#top')
          img(src='assets/images/logo-small.svg')
      li
        a(href='#ethos') Ethos
      li
        a(href='#experiencia') Experiencia
      li
        a(href='#mixes') Los Mixes
      li
        a(href='#warros') La Crew
    ul.social
      li
        a.icon-facebook(href='https://facebook.com/pampawarro')
      li
        a.icon-twitter(href='https://twitter.com/pampawarro')
      li
        a.icon-instagram(href='https://instagram.com/pampawarro')
