mixin warros
  section#warros.align-center
    h2 La Crew
    hr.sep
    p Los seres que están cediendo su luz para que el Pampa Warro pueda brillar
    div.crew
      div.group
        strong Iluminación
        ul
          li Javi Silveira
          li Tebex Ordano
      div.group
        strong Camp
        ul
          li Maru di Fonzo
          li Mariano Perez
          li Flor Ravenna
          li Juan Catalano
      div.group
        strong Arte
        ul
          li Alejandro Vizio
          li Juani Ruiz Echazú
      div.group
        strong Estructura
        ul
          li Nico Ferrarino
          li Javi Silveira
      div.group
        strong Sonido
        ul
          li Brian Bray
          li Juan Trouilh
      div.group
        strong Logística
        ul
          li Juan Trouilh
          li Lucas Busso
